@import '../../../styles/settings.scss';

.component {
  @extend %container;
  min-height: calc(100vh - 48px);
  position: relative;
}

.content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.icon {
  color: $color-light;
}

.firstHeading, .secondHeading {
  font-size: $base-size * 6;
}

.firstHeading, .secondHeading, .button {
  animation-name: animation;
}

.firstHeading {
  animation-duration: 3s;
}

.secondHeading {
  animation-duration: 5s;
}

.button {
  @extend %button-styles;
  margin-top: $base-size * 3;
  color: $color-text;
  animation-duration: 7s;

  &:hover {
    color: $color-light;
  }
}

@keyframes animation {

  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@media (min-width: 500px) and (max-width: 1023px) {

  .content {
    transform: translate(-50%, -50%);
  }

  .firstHeading, .secondHeading {
    font-size: $base-size * 5;
  }
}

@media (max-width: 500px) {

  .content {
    transform: translate(-50%, -50%);
  }

  .firstHeading, .secondHeading {
    font-size: $base-size * 3;
  }
}
