$color-background: linear-gradient(90deg, rgba(24,120,129,1) 0%, rgba(20,121,144,1) 35%, rgba(29,153,179,1) 100%);
$color-button: linear-gradient(90deg, rgba(43,104,149,1) 0%, rgba(38,77,164,1) 35%, rgba(0,87,166,1) 100%);
$color-text: #ffffff;
$color-light: #00F5FF;

$font-text: 'Hahmlet', serif;
$font-header: 'Mukta', sans-serif;

$base-size: 12px;
$transition: all 1s;

%button-styles {
  background: $color-button;
  border: none;
  padding: 15px;
  border-radius: $base-size * 2;
  font-size: $base-size * 1.7;
  cursor: pointer;
  transition: $transition;
  color: $color-text;

  &:hover {
    color: $color-light;
  }
}

%container {
  max-width: 1400px;
  margin: auto;
  padding: 0 ($base-size * 2);
}
