@import '../../../styles/settings.scss';

.component {
  @extend %container;
  height: $base-size * 4;
}

.link {
  font-size: $base-size * 2;
  margin-right: $base-size;
  color: $color-text;
  transition: $transition;

  &:hover {
    color: $color-light;
  }
}
